{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    Пользователь {{ profile.user.id }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row row-cols-2 row-cols-md-4 g-4 m-2">
            <div class="col">
                <div class="card h-100">
                    {% if user.profile.image %}
                    	<img src="{{ user.profile.get_image_300x300.url }}" alt="неуказано">
                    {% endif %}

                    <div class="card-body h-100">
                        <h5 class="card-title">{{ user.email }}</h5>
                        {% trans "Birthday" %}:
                        {% if user.profile.birthday %}
                            {{ user.profile.birthday }}
                        {% else %}
                            <b>{% trans "not specified" %}</b>
                        {% endif %} <br>
                        {% trans "coffeeCount" %}: {{ user.profile.coffee_count }}<br>
                        {% trans "Name" %}:
                        {% if user.first_name %}
                            {{ user.first_name }}
                        {% else %}
                            <b>{% trans "not specified" %}</b>
                        {% endif %}<br>
                        {% trans "Surname" %}:
                        {% if user.last_name %}
                            {{ user.last_name }}
                        {% else %}
                            <b>{% trans "not specified" %}</b>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
