{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    Пользователи
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Список активных пользователей</h1>
        {% for profile in profiles %}
            <div class="row row-cols-2 row-cols-md-4 g-4 m-2">
                <div class="col">
                    <div class="card h-100">
                        {% if profile.image %}
                        	<img src="{{ profile.get_image_300x300.url }}" alt="неуказано">
                        {% endif %}
                        <div class="card-body h-100">
                            <h5 class="card-title">{{ profile.user.email }}</h5>
                            {% trans "Birthday" %}:
                            {% if profile.birthday %}
                                {{ profile.birthday }}
                            {% else %}
                                <b>{% trans "not specified" %}</b>
                            {% endif %} <br>
                            {% trans "coffeeCount" %}: {{ profile.coffee_count }}<br>
                            {% trans "Name" %}:
                            {% if profile.user.first_name %}
                                {{ profile.user.first_name }}
                            {% else %}
                                <b>{% trans "not specified" %}</b>
                            {% endif %}<br>
                            {% trans "Surname" %}:
                            {% if profile.user.last_name %}
                                {{ profile.user.last_name }}
                            {% else %}
                                <b>{% trans "not specified" %}</b>
                            {% endif %}
                            <p><a href="{% url "rating_statistics:user_statistics" profile.user.id%}" class="card-link">{% trans "UserStatisics" %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>{% trans "List is empty" %}</p>
        {% endfor %}
    </div>
{% endblock content %}
