{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% trans "NoTitle" %} {% endblock title %}</title>

    <link rel="icon" href="{% static 'fav/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon.ico'%}">
    <link rel="icon" type="image/ico" sizes="32x32" href="{% static 'fav/favicon-32x32.ico'%}">
    <link rel="icon" type="image/ico" sizes="16x16" href="{% static 'fav/favicon-16x16.ico'%}">
    <link rel="manifest" href="{% static 'fav/site.webmanifest'%}">
    <link rel="mask-icon" href="{% static 'fav/safari-pinned-tab.svg'%}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
    <script>
      const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      document.cookie = "django_timezone=" + timezone;
    </script>
  </head>
  <body>
    {% include "includes/header.html" %}
    {% if today_birthdays %}
      <p class="text-success text-center">Сегодня день рождения у</p>
      <section class="container d-flex flex-row alert alert-warning justify-content-center gap-2">
        🎉
        {% if today_birthdays|length > 10 %}
        <marquee direction="right">
        {% endif %}
            {% for profile in today_birthdays %}
              <span>{{ profile.user.first_name }}{% if profile.user.email %}({{ profile.user.email }}){% endif %}</span>
            {% endfor %}
        {% if today_birthdays|length > 10 %}
        </marquee>
        {% endif %}
        🎉
      </section>
    {% endif %}
    <main>
        {% block content %} {% trans "NoContent" %} {% endblock content %}
    </main>
    {% include "includes/footer.html" %}
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
  </body>
</html>