{% load i18n %}
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">{% trans "Homepage" %}</a></li>
      <li class="nav-item"><a href="/catalog/" class="nav-link px-2 text-body-secondary">{% trans "ItemList" %}</a></li>
      <li class="nav-item"><a href="/about/" class="nav-link px-2 text-body-secondary">{% trans "About" %}</a></li>
    </ul>
    <p class="text-center text-body-secondary">© <span id="year">{% now "Y" %}</span> Designed by MrRegrit</p>
  </footer>
</div>
<script>
  let date_js = new Date();
  if (Math.abs({% now "U" %} - date_js.getTime() / 1000) < 24 * 60 * 60) {
    document.getElementById("year").innerHTML = date_js.getFullYear()
  }
</script>