<div class="col">
    <div class="card h-100">
        <div class="card-body h-100">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">{{ text|truncatewords_html:10|safe }}</p>
            <p>Категория: {{ category }}</p>
            <p>
                {% for tag in tags.all %}
                    <span class="badge rounded-pill text-bg-light">
                        {{ tag.name }}
                    </span>
                {% endfor %}
            </p>
            <a href="{% url "catalog:item_detail" id %}" class="stretched-link"></a>
        </div>
    </div>
</div>
