{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ item.name }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row m-3">
            <div class="col">
                <h2>Категория: {{ item.category.name }}</h2>
                <h1>
                    {{ item.name }}
                    {% for tag in item.tags.all %}
                        <span class="badge rounded-pill text-bg-light">
                            {{ tag.name }}
                        </span>
                    {% endfor %}
                </h1>
                <h3 class="m-3">{{ item.text|safe }}</h3>

            </div>
            <div class="col">

                {% if item.main_image %}
                    <h3>Главное изображение:</h3>
                    <img src="{{ item.main_image.get_image_300x300.url }}" alt="">
                    <p class="m-2"><a href="{% url "download:download_file" item.main_image.image.url|cut:"/media/" %}">
                        <button type="button" class="btn btn-primary">Скачать</button></a></p>
                {% endif %}
            </div>
        </div>
        <div class="row m-3">
            {% for image in images.all %}
                <div class="col">
                    <img src="{{ image.get_image_300x300.url }}" alt="">
                    <p class="m-2">
                        <a href="{% url "download:download_file" image.image.url|cut:"/media/" %}">
                            <button type="button" class="btn btn-primary">Скачать</button>
                        </a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
