{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ item.name }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-2">
                {% for image in images.all %}
                    <p><img src="{{ image.get_image_300x300.url }}" height="150" alt=""></p>
                    <p class="m-3">
                        <a href="{% url "download:download_file" image.image %}">
                            <button type="button" class="btn btn-primary">Скачать</button>
                        </a>
                    </p>
                {% endfor %}
            </div>
            <div class="col-6">
                {% if item.main_image %}
                    <h3>Главное изображение:</h3>
                    <img src="{{ item.main_image.get_image_300x300.url }}" height="600" alt="">
                    <p class="m-3">
                        <a href="{% url "download:download_file" item.main_image.image %}">
                            <button type="button" class="btn btn-primary">Скачать</button>
                        </a>
                    </p>
                {% else %}
                    <h3 class="text-center">Главного изображения нет</h3>
                {% endif %}
            </div>
            <div class="col-4">
                <p><b>Категория:</b> {{ item.category.name }}</p>
                <h3>{{ item.name }}</h3>
                <p><b> Теги: </b>
                    {% for tag in item.tags.all %}
                        <span class="badge rounded-pill text-bg-light">
                        {{ tag.name }}
                    </span>
                    {% endfor %}
                </p>
                <p>{{ item.text|safe }}</p>

                <p>Средняя оценка: <strong>
                    {% if avg_ratings %}
                        ⭐️{{ avg_ratings|floatformat:1 }}
                    {% else %}
                        Оценок еще нет
                    {% endif %} </strong></p>
                <p>Количество оценок: <strong>
                    {% if count_ratings %}
                        {{ count_ratings }}
                    {% else %}
                        Оценок еще нет
                    {% endif %} </strong></p>
                {% if user.is_authenticated %}
                    {% if user_rating %}
                        <p>Ваша оценка: <strong>{{ user_rating.evaluation }}</strong></p>
                        Изменить оценку:
                    {% else %}
                        Оставить оценку:
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-primary">Сохранить оценку</button>
                    </form>
                    {% if user_rating %}
                        <a href="{% url 'catalog:item_delete_comment' item.id %}" class="btn btn-outline-danger"
                           role="button">Удалить отзыв</a><br>
                    {% endif %}
                {% endif %}
                <p><a href="{% url "rating_statistics:item_statistics" item.id %}"
                      class="card-link btn btn-outline-primary" role="button">
                    {% trans "ItemStatisics" %}
                </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
